h1 {
    font-family: Lobster, monospace;
    color: black;
    text-align: center;

  }

  p {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center
  }

  .blue-box {
    background-color: #b5e9e9;
    padding: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(226, 211, 211, 0.23);
  }

  .title {
    background-color: #fef6dd;
  }

  
  .titles {
    background-color: #dcc2ee;
  }

  .contact {
    background-color: #dcf3d0;
    text-align: center;
  }

  .card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(226, 211, 211, 0.23);
    padding: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
  }
  .blog-card {
    background-color: #fff1b5;
  }

  a {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 20px;
  }

  body {
    background-color: #ffe1d0
  }

  .social-image {
    width: 25px;
  }

  .social-link {
    padding-bottom: 30px;
  }

.blog-entry{
  margin-left: 100px;
  margin-right: 100px;
 
}

.Art{
background-color: #dea6af
}

